@import "@/styles/styles.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  .icon-menu {
    display: none;
  }
  &-logo {
    img {
      width: 250px;
      height: 50px;
      object-fit: cover;
    }
  }
  &-menu {
    display: flex;
    li {
      margin-left: 30px;
      list-style-type: none;
      font-weight: 500;
      font-size: 17px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        color: $blue-color;
      }
    }
  }
  &-right {
    display: flex;
  }
  .icon-svg-light {
    svg {
      stroke: $white-color;
    }
  }
  .icon-svg-dark {
    svg {
      stroke: $dark-blue-color;
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    display: flex;
    flex-direction: column;
    .icon-menu {
      display: block;
    }
  }
}